[alias]
    l = "log --date=short --format='%C(green)%h %C(bold cyan)%ad %C(white)%s%C(reset) %C(bold magenta)%d%C(reset)' --max-count=10"

    ll = "log --abbrev-commit --color=auto --graph"

    s = "status"

[format]
    pretty = "format:%C(green)%h %C(brightblack)%ae %C(brightcyan)%ai %C(brightmagenta)%D%C(white)%n%n%w(80,0,2)%s%C(reset)%n%n"

[commit]
    verbose = true

[core]
    compression = 9
    editor = code --wait
    eol = lf

[diff]
    algorithm = histogram
    colorMoved = zebra
    compactionHeuristic = true
    context = 2
    indentHeuristic = true
    interHunkContext = 1
    mnemonicPrefix = true
    renames = true

[fetch]
    prune = true
    pruneTags = true

[gc]
    auto = 256

[init]
    defaultBranch = main

[log]
    graphColors = normal

[merge]
    conflictStyle = zdiff3

[pull]
    rebase = true

[push]
    autoSetupRemote = true
    default = current

[rebase]
    autoStash = true
    updateRefs = true

[status]
    branch = true
    showStash = true
    showUntrackedFiles = all

[user]
    name = Pedro Cardo Vasconcellos
    email = pedro.cardo.vasconcellos@gmail.com
